* {
  font-family: var(--f-stack-default);
  font-size: var(--f-size-default);
  color: var(--c-text);
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
}

ul,
ol,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  border: 0;
  background: transparent;
  cursor: pointer;
}

h1 {
  font-size: 24px;
}

h1, h2 {
  margin: 0;
}

a {
  text-decoration: none;
  transition: var(--transition);
}

.container {
  max-width: 1200px;
  padding: 0 30px;
  margin: 0 auto;
}

figure {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

.header,
.footer,
input,
select {
  background-color: var(--bg-secondary);
}

input,
input::placeholder,
input:focus,
select {
  color: var(--c-text-input);
  font-weight: 600;
  border: 0;
  font-size: 14px;
}

input,
select {
  min-height: 50px;
  padding: 0 15px;
  border-radius: 5px;
}

input {
  width: 100%;
}

select {
  width: 100%;
  max-width: 175px;
}

i::before {
  font-family: "FontAwesome";
  font-style: normal;
  font-size: 20px;
}