* {
  font-family: var(--f-stack-default);
  font-size: var(--f-size-default);
  color: var(--c-text-lm);
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
}

ul,
ol,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  border: 0;
  background: transparent;
  cursor: pointer;
}

h1 {
  font-size: 24px;
}

h1, h2 {
  margin: 0;
}

a {
  text-decoration: none;
  transition: var(--transition);
}

.container {
  max-width: 1200px;
  padding: 0 30px;
  margin: 0 auto;
}

figure {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

i::before {
  display: inline-block;
  font-family: "FontAwesome";
  font-style: normal;
  font-size: 24px;
  transition: var(--transition);
}

i:hover::before {
  opacity: .8;
  transform: translateY(-2px);
}