@import './var.css';
@import './reset.css';

.header .dark-mode,
.search-countries {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .dark-mode {
  padding: 25px 0;
}

.header button {
  font-weight: 600;
}

.main {
  background-color: var(--bg-primary);
  padding: 60px 0;
}

.search-countries {
  padding: 0 0 60px;
}

.countries {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: flex-start;
  gap: 60px;
}

.countries .item {
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  filter: drop-shadow(var(--drop-shadow));
  transition: var(--transition);
}

.countries .item:hover {
  transform: translateY(-5px);
  filter: drop-shadow(var(--drop-shadow-hover));
}

.countries .item .content {
  background-color: var(--c-white);
  padding: 20px 20px 30px;
}

.countries .item img {
  height: 160px;
  width: 100%;
  object-fit: cover;
}

.countries .item h2 {
  margin: 0 0 15px;
  color: var(--c-text-black);
}

.countries .item ul li strong {
  font-weight: 600;
}

.countries .item ul li,
.countries .item ul li strong {
  font-size: var(--f-size-items);
  color: var(--c-text-black);
}

.footer .container {
  text-align: center;
  padding: 60px 30px;
  color: var(--c-text-black);
}

.social > ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 30px;
  padding-top: 25px;
}