@import './var.css';
@import './reset.css';

.header .dark-mode,
.search-countries {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .dark-mode {
  padding: 25px 0;
}

.btn-dark-mode {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0 10px;
}

.btn-dark-mode i {
  display: inline-block;
  transform: rotate(-20deg);
}

.btn-dark-mode input {
  display: none;
}

.header .btn-dark-mode label {
  font-weight: 600;
  cursor: pointer;
}

.main {
  background-color: var(--bg-primary);
  padding: 60px 0;
}

.search-countries {
  padding: 0 0 60px;
}

.wrapper-search {
  width: 100%;
  max-width: 425px;
}

#list-countries {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: flex-start;
  gap: 60px;
}

#list-countries .item {
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  filter: drop-shadow(var(--drop-shadow));
  transition: var(--transition);
}

#list-countries .item:hover {
  transform: translateY(-5px);
  filter: drop-shadow(var(--drop-shadow-hover));
}

#list-countries .item .content {
  background-color: var(--c-white);
  padding: 20px 20px 30px;
}

#list-countries .item img {
  height: 160px;
  width: 100%;
  object-fit: cover;
}

#list-countries .item .content > strong {
  display: inline-block;
  margin: 0 0 15px;
  color: var(--c-text-black);
}

#list-countries .item ul li:not(:last-child) > p {
  margin: 0 0 10px;
}

#list-countries .item ul li:last-child > p {
  margin: 0;
}

#list-countries .item ul li strong {
  font-weight: 600;
}

#list-countries .item ul li p,
#list-countries .item ul li strong {
  font-size: var(--f-size-items);
  color: var(--c-text-black);
}

.footer {
  position: relative;
}

.footer .container {
  text-align: center;
  padding: 60px 30px;
  color: var(--c-text-black);
}

.social > ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 30px;
  padding: 25px 0 0;
}

.to-top {
  display: block;
  margin: 0 auto 30px;
  width: 35px;
  height: 35px;
  border-radius: 5px;
  background-color: var(--bg-primary);
  filter: drop-shadow(var(--drop-shadow));
  transition: var(--transition);
}

.to-top:hover {
  filter: drop-shadow(var(--drop-shadow-hover));
  transform: translateY(-3px);
}

@media (max-width: 770px) {
  .dark-mode > h1 {
    font-size: 18px;
  }

  .search-countries {
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
  }

  #list-countries {
    grid-template-columns: 240px;
    place-content: center;
  }
}