@import '../var.css';

p {
  margin: 0 0 10px;
}

strong {
  font-weight: 600;
}

.main {
  padding: 80px 0;
}

a.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 10px;
  background-color: var(--bg-secondary);
  filter: drop-shadow(var(--drop-shadow));
  padding: 0 15px;
  max-width: 130px;
  line-height: 35px;
  margin-bottom: 50px;
  border-radius: 2px;
  transition: var(--transition);
}

a.button:hover {
  transform: translateY(-3px);
  filter: drop-shadow(var(--drop-shadow-hover));
}

a.button::before {
  content: url('../../assets/images/arrow-left-l.svg');
  display: inline-block;
  position: relative;
  top: 2px;
}

.night-mode a.button::before {
  content: url('../../assets/images/arrow-left-d.svg');
}

.wrapper-country {
  display: grid;
  grid-template-columns: 450px 1fr;
  gap: 0 100px;
}

.info-country > h1 {
  margin: 0;
  font-size: 34px;
}

.info-country .wrapper-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 20px 0 40px;
  gap: 0 15px;
}

.border-countries,
.border-countries > ul {
  display: flex;
  gap: 15px;
}

.border-countries > strong {
  flex: 0 0 auto;
}

.border-countries > ul {
  align-items: center;
  flex-wrap: wrap;
}

.border-countries > ul span {
  display: inline-block;
  background-color: var(--bg-secondary);
  filter: drop-shadow(var(--drop-shadow));
  padding: 0 15px;
  min-width: 100px;
  min-height: 25px;
  line-height: 25px;
  text-align: center;
  border-radius: 2px;
}

@media (max-width: 770px) {
  .main {
    padding: 40px 0;
  }

  .wrapper-country,
  .info-country .wrapper-info {
    grid-template-columns: 1fr;
  }

  .right {
    margin-top: 30px;
  }

  .border-countries {
    flex-direction: column;
  }
}