.search-countries {
  padding: 0 0 60px;
}

.wrapper-search {
  width: 100%;
  max-width: 425px;
}

#list-countries {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: flex-start;
  gap: 60px;
}

#list-countries .item {
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  filter: drop-shadow(var(--drop-shadow));
  transition: var(--transition);
}

#list-countries .item:hover {
  transform: translateY(-5px);
  filter: drop-shadow(var(--drop-shadow-hover));
}

#list-countries .item .content {
  background-color: var(--c-white);
  padding: 20px 20px 30px;
}

#list-countries .item img {
  height: 160px;
  width: 100%;
  object-fit: cover;
}

#list-countries .item .content>strong {
  display: inline-block;
  margin: 0 0 15px;
  color: var(--c-text-black);
}

#list-countries .item ul li:not(:last-child)>p {
  margin: 0 0 10px;
}

#list-countries .item ul li:last-child>p {
  margin: 0;
}

#list-countries .item ul li strong {
  font-weight: 600;
}

#list-countries .item ul li p,
#list-countries .item ul li strong {
  font-size: var(--f-size-items);
  color: var(--c-text-black);
}

@media (max-width: 770px) {
  .search-countries {
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
  }

  #list-countries {
    grid-template-columns: 240px;
    place-content: center;
  }
}